<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>CPRS</title>
    </head>
    <h3>Teams</h3>
    <p><%= JSON.stringify(teams) %></p>
    <br>
    <h3>Members</h3>
    <p><%= JSON.stringify(members) %></p>
</body>
</html>